//colors

$White: #FFFFFF;
$Very-dark-blue:#121725;
$Medium-grey:#2C344B;
$Light-grey:#5A668A;
$Soft-grey:#C2CBE5;
$Greenish:#54E6AF;

//ui

$background-button:$Greenish;
$background-body:$Very-dark-blue;
$backgrond-form:$Medium-grey;
$color-text-main:$Soft-grey;
$color-heading-primary:$Greenish;
$color-heading-secondary:$White;