//colors

$White: #FFFFFF;
$Very-dark-blue:#121725;
$Medium-grey:#2C344B;
$Light-grey:#5A668A;
$Soft-grey:#C2CBE5;
$Greenish:#54E6AF;
$Light-greenish: #B3FFE2;
$Red: #FB3E3E;

//ui

$background-button:$Greenish;
$background-button-active:$Light-greenish;
$background-body:$Very-dark-blue;
$background-form:$Medium-grey;
$color-text-main:$Soft-grey;
$color-heading-primary:$Greenish;
$color-heading-secondary:$White;
$color-text-email-message:$Red;