@import 'settings','variables','normalize';

body {
    background:url(../assets/mobile/image-host.jpg) no-repeat;
    background-size:cover;
    background-color:#2b2f3a;
    background-blend-mode: multiply;
    color:$color-text-main;
    font-family: 'Chivo', sans-serif;
    font-weight:400;
    text-align:center;
}

.main {
    padding-top:6.2rem;
}

.container {
    padding: 0 2.4rem;
}

.site-logo {
    display:block;
    margin: 0rem auto 5.7rem;
}

.content {

    &__heading {
        font-size:2.6rem;
        line-height: 3.8rem;
        color:$color-heading-secondary;
        text-transform: uppercase;
        font-weight:300;
    }

    &__heading--accent {
        color:$color-heading-primary;
    }

    &__text {
        color:$color-text-main;
        font-size:1.5rem;
        line-height: 2.5rem;
        margin:1.6rem 0 3.3rem;
        font-weight:300;
    }
}

.podcasts {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:$color-text-main;
}

.spotify-icon {
    width:5.6rem;
    height:1.7rem;
}

.apple-icon {
    width:4.5rem;
    height:1.7rem;
}

.google-icon {
    width:7.3rem;
    height:1.1rem;
}

.pocket-icon {
    width:7.7rem;
    height:1.5rem;
}

.email-form {
    display:flex;
    flex-direction: column;
    margin-top:4.8rem;
}

.email-form input,
.email-form button {
    border-radius: 2.8rem;
    height:4.6rem;
    border:none;
}

.email-form input {
    background:$background-form;
}

.email-form button {
    background:$background-button;
    font-size:1.4rem;
    color:rgb(0, 0, 0);
    font-weight: 900;
    margin-top:1.6rem;
}

::placeholder {
    font-size: 1.4rem;
    padding-left:3.2rem;
    color:$White;
    opacity:0.5;
}
 
@media screen and (min-width:768px) {

    body {
        
        background: url(../assets/tablet/image-host.jpg) no-repeat top right, url(../assets/desktop/bg-pattern-dots.svg) no-repeat bottom left 30px;
        background-size: auto;
        background-color: $background-body;
        background-blend-mode: normal;
        text-align: left;
        height:100vh;

    }

    .main {
        padding-top:5rem;
    }

    .site-logo {
        margin:0rem 0;
    }

    .container {
        padding-left: 3.9rem;
    }
    .content {
        background: $background-body;
        margin-top:15.2rem;
        padding-top:9.3rem;
        width:63.5rem;

        &__heading {
            font-size:4.8rem;
            line-height: 5.6rem;
            font-weight:300;
        }

        &__text {
            width:44.5rem;
            font-size:1.8rem;
            line-height:2.8rem;
            margin-top: 3.2rem;
            margin-bottom:0;
        }
    }

    .email-form {
        position:relative;
        width:427px;
        margin-top:4rem;
        margin-bottom:6.4rem;
    }

    .email-form input {
        height:56px;
    }

    .email-form button {
        position:absolute;
        width:16.2rem;
        top:-11px;
        right:5px;
        height:46px;
    }

    .podcasts {
        width:53.6rem;
    }

    .podcasts-form {
        display: flex;
        flex-direction: column-reverse;
    }

    .spotify-icon {
        width:96px;
        height:29px;
    }
    
    .apple-icon {
        width:78px;
        height:29px;
    }
    
    .google-icon {
        width:125px;
        height:18px;
    }
    
    .pocket-icon {
        width:129px;
        height:26px;
    }
}

@media screen and (min-height: 768px) and (min-width:1024px){
    body {
        background: url(../assets/tablet/image-host.jpg) no-repeat top right, url(../assets/desktop/bg-pattern-dots.svg) no-repeat bottom left 40px;
        background-size: auto;
        background-color: $background-body;
        background-blend-mode: normal;
    }
}